PORT=5000

MONGODB_URI=mongodb://ramapujithaa616:rama%400218@ac-whoestw-shard-00-00.demxn1i.mongodb.net:27017,ac-whoestw-shard-00-01.demxn1i.mongodb.net:27017,ac-whoestw-shard-00-02.demxn1i.mongodb.net:27017/crm_db?ssl=true&replicaSet=atlas-q4oqk4-shard-0&authSource=admin&retryWrites=true&w=majority

JWT_SECRET=34567897
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:3000